.info {
  height: auto;
  width: 100%;
}

.info-cards {
  display: flex;
  gap: 15px;
  padding: 50px 30px;
}

.info-cards > div {
  flex: 1;
  line-height: 25px;;
}

.info-cards > div > h4 {
  margin-bottom: 8px;
  text-align: center;
}

@media (max-width: 850px) {
  .info-cards {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
