.about-us {
  color: var(--color-white);
  height: 630px;
  background-image: url("../../Images/store\ 2.jfif");
  background-position: bottom;
  background-attachment: fixed;
}

.about-us > div {
  padding: 30px 40px;
}

.about-us {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-us.show {
  opacity: 1;
  transform: translateY(0);
}

.about-us-initial {
  height: 100%;
}

.find-out-more {
  text-align: end;
  transition: transform 0.4s;
  transform-origin: right center;
}

.find-out-more:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.about-us-initial .text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-initial .text h1 {
  font-size: 55px;
}

.about-us-initial .text p {
  font-size: 18px;
}

.find-out-more-content {
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: end;
}

.find-out-more-text {
  font-size: 18.5px;
  line-height: 30px;
}


@media (min-width: 801px) and (max-width: 1025px) {
  .find-out-more-text {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 801px) {
  .about-us > div {
    padding: 30px 15px;
  }
}


@media (min-width: 401px) and (max-width: 801px) {
  .find-out-more {
    font-size: 14px;
  }
  .about-us-initial .text h1 {
    font-size: 35px;
  }
  .about-us-initial .text p {
    font-size: 14px;
  }
  .find-out-more-text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 301px) and (max-width: 400px) {
  .find-out-more {
    font-size: 12px;
  }
  .about-us-initial .text h1 {
    font-size: 25px;
  }
  .about-us-initial .text p {
    font-size: 12px;
  }
  .find-out-more-text {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 300px) {
  .find-out-more {
    font-size: 10px;
  }
  .about-us-initial .text h1 {
    font-size: 17.5px;
  }
  .about-us-initial .text p {
    font-size: 10px;
  }
  .find-out-more-text {
    font-size: 10px;
    line-height: 12px;
  }
}
