.single-record {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.single-record-box {
  height: auto;
  width: 900px;
  display: flex;
}

.single-record-box > div {
  flex: 1;
  padding: 50px;
}

.single-record-box ul {
  list-style-type: none;
}

.single-record-box ul li {
  margin: 5px;
}

.single-box-left {
  height: 350px;
  display: flex;
  justify-content: end;
}

.single-record-img {
  height: 100%;
  width: 80%;
  & img {
    width: 100%;
    height: 100%;
  }
}

.single-box-right {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-record-info button {
  padding: 6px 12px;
  margin-top: 10px;
  background-color: var(--buttons-color);
  font-family: "Playfair Display", serif;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: background-color 0.13s ease-in;
}

.button-active:hover {
  cursor: pointer;
  background-color: var(--color-green);
}