.footer {
  height: auto;
  background-color: #3a3c44;
  color: var(--color-white);
  display: flex;
}

.footer > div {
  width: 50%;
  padding: 15px 10px;
}

.footer > div:first-child {
  display: flex;
}

.footer > div:first-child > div {
  width: 50%;
}

.footer > div:first-child > div:first-child > div {
  margin: 20px;
}

.footer > div:first-child > div:nth-child(2) > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.footer > div:first-child > div:nth-child(2) > div:nth-child(2) {
  text-align: center;
}

.footer > div:first-child > div:nth-child(2) ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.footer > div:first-child > div:nth-child(2) ul a {
  color: var(--color-white);
  transition: color 0.13s ease-in
}

.footer > div:first-child > div:nth-child(2) ul li a:hover {
  cursor: pointer;
  color: var(--color-green);
}

.footer > div:nth-child(2) {
  padding: 50px 105px;
  display: none;
}

.footer .footer-map {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > div:first-child {
  width: 100%;
}

@media (max-width: 1150px) {
  .footer > div:nth-child(2) {
    display: none;
  }
  .footer > div:first-child {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .footer > div:first-child {
    display: block;
  }
  .footer > div:first-child > div {
    width: 100%;
    text-align: center;
  }
  .footer > div:first-child > div:nth-child(2) > div {
    padding: 15px;
  }
}

@media (min-width: 330px) and (max-width: 700px) {
  .footer > div:first-child {
    font-size: 14.5px;
  }
}

@media (min-width: 1px) and (max-width: 329px) {
  .footer > div:first-child {
    font-size: 12px;
  }
  .footer > div:first-child > div:nth-child(2) ul {
    gap: 20px;
  }
}
