.top-sellers {
  width: 100%;
  padding-bottom: 70px;
}

.carousel-cont {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.records-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.record {
  width: 200px;
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
}

.record:hover {
  cursor: pointer;
}

.record-img > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.record-data {
  text-align: center;
  padding-top: 10px;
  font-size: 16.5px;
}

@media (max-width: 1024px) {
  .top-sellers {
    display: none; 
    padding: 0;
  }
  .carousel-cont {
    display: none;
  }
}



