.about-us-initial {
  height: 100%;
}

.find-out-more {
  text-align: end;
  transition: transform 0.4s;
  transform-origin: right center;
}

.find-out-more:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.about-us-initial .text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-initial .text h1 {
  font-size: 55px;
}

.about-us-initial .text p {
  font-size: 18px;
}

@media (min-width: 401px) and (max-width: 801px) {
  .find-out-more {
    font-size: 14px;
  }
  .about-us-initial .text h1 {
    font-size: 35px;
  }
  .about-us-initial .text p {
    font-size: 14px;
  }
}

@media (min-width: 301px) and (max-width: 400px) {
  .find-out-more {
    font-size: 12px;
  }
  .about-us-initial .text h1 {
    font-size: 25px;
  }
  .about-us-initial .text p {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .find-out-more {
    font-size: 10px;
  }
  .about-us-initial .text h1 {
    font-size: 17.5px;
  }
  .about-us-initial .text p {
    font-size: 10px;
  }
}
